html,
body {
	height: auto;
}

body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	margin: 0;
	padding: 0;
}

a {
	color: #78B5D9;
}

h2 {
	background: #F4F4F4;
	padding: 5px 5px 5px 10px;
	font-size: 1em;
}

#wrap {
	background: #fff;
}

img {
	max-width: 100%;
}

footer {
	padding: 10px;
}
